{% extends "store/layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'store/css/item-style.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row" style="background: #d3dcea;">
        <div class="col-md-12">
            <h2>{{ user.username }}</h2>
            <img src="{{ user.imageUrl }}">
            <h3>Compras</h3>
            {% for purchase in purchased_courses %}
                <div class="container">
                    <div class="row" style="background: #f5f5f5">
                        <div class="col-md-12">
                            <h3>Cursos</h3>
                            {% for course in purchase.courses %}
                                <div class="container">
                                    <div class="row" style="background: #eef6ff">
                                        <div class="col-md-12">
                                            <h4>{{ course.name }}</h4>
                                            <p>R$: {{ course.price }}</p>
                                            <p>{{ course.duration }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <h3>Preço</h3>
                        <p>R$: {{ purchase.price }}</p>
                        <h3>Horário</h3>
                        <p>{{ purchase.timestamp }}</p>
                    </div>
                </div>
            {% empty %}
                <p>User has no purchases.</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}